*.hdf5
*.mp4
*.log
*.png
data/tb*
.python-version
.vscode
__pycache__
.DS_Store
nohup.out
subjs.csv
username
temp_folder_name.txt
temp_folder_analyse
temp_data.csv
*.csv
dummy.py
*/dummy.py
local_path
